
    #inside {
        display: grid;
        grid-template-columns: 40% 60%;
        padding: 1em;
    }

    .img1 {
        max-width: 100%;
        border: 3px solid #191717;
    }

    .img2 {
        max-width: 100%;
        border: 3px solid #191717;
    }

    h3 {
        text-decoration: underline;
        padding-left: 1em;
        margin-top: 0;
        font-size: 1.5em;
    }

    #bodyParagraph {
        padding: 0em 1em;
    }


    @media only screen and (max-width: 1000px) {
        #inside {
            display: grid;
            grid-template-columns: 1fr;
            padding: 1em;
        }
      

    }
